.view-display {
    .jeopardy-scoreboard {
        height: 5vh;
        line-height: 5vh;
        display: flex;
        justify-content: space-around;
        span {
            text-align: center;
        }
    }
}