.view-contestant {
    padding: 5vh 5vw;
    font-size: 6rem;
    text-align: center;
    .buzzer-button {
        padding: 2rem;
        font-size: 6rem;
        width: 90vw;
        height: 90vh;
    }
}