.view-host {
	.jeopardy-scoreboard {
		display: flex;
		flex-direction: column;
		span {
			position: relative;
			display: block;
			flex: 1;
			padding-left: 1rem;
		}
		span::before {
			content: "";
			position: absolute;
			top: 4px;
			left: 3px;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			border: 1px solid #000000;
			background: #eeeeee;
		}
		.scoreboard-buzzer-queue--current::before {
			background: #00cc00;
		}
		.scoreboard-buzzer-queue--in-queue::before {
			background: #cccc00;
		}
	}
}
