.view-contestant {
	&.view-contestant--buzzer {
		padding: 5vh 5vw;
		font-size: 3rem;
		text-align: center;
	}
	.buzzer-button {
		padding: 2rem;
		font-size: 3rem;
		width: 90vw;
		height: 90vh;
		// your turn
		&.buzzer-button-your-turn {
			background-color: #009900;
		}
		// someone else's turn
		&.buzzer-button-not-your-turn {
			background-color: #3333cc;
			color: white;
		}
		// expired
		&.buzzer-button-timer-expired {
			background-color: #990000;
			color: white;
		}
		&:disabled {
			cursor: not-allowed;
		}
	}
}
